
.talk {
    margin-left: 366px;
    box-shadow: 2px 2px 2px 2px;
    margin-right: 365px;
    margin-top: 113px;
    padding-top: 21px;
    padding-left: 182px;
    padding-bottom: 58px;
}
img {
    padding-bottom: 25px;
  }
.button{
  margin-top: 20px;
  margin-left: 52px;
  }
