.luimg {
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 2px 2px 2px 2px blue;
  margin-left: 20px;
  margin-right: 221px;
  padding-bottom: 16px;
}
.home{
  border: 1px #ccc solid;
  color: white;
  background-color: #020202;
  padding-top: 10px;
  text-align:center;
}
.home:hover{
  background-color: :#pink;
}
.about{
  border: 1px solid #ccc;
  background-color: white;
  padding-top: 10px;
  text-align:center;
}
.comm{
  border: 1px solid #ccc;
  background-color: #bf1b1b;
  padding-top: 10px;
  text-align:center;
}
.contact{
  border: 1px solid;
  background-color: #0d8412;
  padding-top: 10px;
  text-align:center;
}
